.center{
    background-color: #518ADD;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-login {
    height: 324px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.field {
    display: flex;
    flex-direction: column;
}

.field > label {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ACB5BD !important;
}

.field > input {
    height: 56px;
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    border-radius: 8px;
}

.field > input:focus {
    outline: none;
}

.login-button {
    width: 199px;
    height: 47px;
    background: #1D61DA;
    border-radius: 2px;
    color: #fff;
    margin-left: auto;
    cursor: pointer;
}

.card{
    background-color: #fff;
    border-radius: 15px;
    padding: 40px;
    width: 430px;
    height: 380px;
}

.card > form{
    display: flex;
    flex-direction: column;
}

.card h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.form-item{
    padding: 5px;
    margin-bottom: 2rem;
    height: 30px;
    width: 16rem;
    border: 1px solid grey;
}

.form-submit{
    height: 35px;
    color: #fff;
    background-color: #1abc9c;
    border: none;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
}
.form-submit:hover{
    opacity: 0.6;
}

